.wrapper
  .main_wrapper
    %h1#title Kara Trowell
    %p#main
      %a{ href: '/books', id: "reading" } View my books
    #contact
      %h3 Contact me
      %ul
        %li
          %a{ href: "http://github.com/ktrow", target: "_blank" } Github
        %li
          %a{ href: "http://twitter.com/ktr0w", target: "_blank" } @ktr0w

%footer#footer
  %a{ href: "http://en.wikipedia.org/wiki/Norval_Morrisseau", target: "_blank" } Find out about the artist
